<Router AppAssembly="@typeof(Program).Assembly" >
   
    <Found Context="routeData">       
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <p>Vă rugăm să așteptați, vă autorizăm.
                    @* Please wait, we are authorizing you. *@                          
                </p>
            </Authorizing>
        </AuthorizeRouteView>          
    </Found>
   
    <NotFound>       
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">
                    Ne pare rău, nu există nimic la această adresă.
                    @* Sorry, there's nothing at this address. *@                                
                </p>
            </LayoutView>        
        </CascadingAuthenticationState>           
    </NotFound>
</Router>

@code{

    public bool PreferExactMatches { get; set ;}
}